/* sets margins and padding for entire page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* selects backgroung color for body of page */
body {
    background-color: #d9dcd6;
}

/* selects font, padding, and color for entire header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* selects font size for h1 inside of header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* selects different color for "seo" in header */
.header h1 .seo {
    color: #d9dcd6;
}

/* selects font, font size, padding, margins, are where the navigation portion of header is located */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes bullet points from list */
.header nav ul {
    list-style-type: none;
}

/* displays list as inline blocks 25 pixels from left margin */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* selects color of the navigation links in header */
a {
    color: #ffffff;
    text-decoration: none;
}

/* selects font size of all paragraphs */
p {
    font-size: 16px;
}

/* indicated the size and location of digital marketing meeting image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* indicates width, display, and margin of three main boxes under digital marketing image */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* indicates that the image will float on a certain side, a certain number of pixels from the margin */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* sets margins, padding, font, and background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets margins and text color */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets margins and aligns h3 text */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets how images on right side of page are displayed, also sets their margina and width */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets box bottom margin, padding, height, backgrouns color and selects the text's font and color.*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets the max height for the images */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* sets bottom margin and font size for h2 headers */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets padding, font, and text alignment for footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets font size for h2 heading in footer */
footer h2 {
    font-size: 20px;
}
